.backdrop {
  composes: ts-backdrop from global;
}

.card {
  composes: ts-card from global;
}

.eyebrow {
  composes: ts-eyebrow from global;
}

.title {
  composes: ts-title from global;
}

.body {
  composes: ts-body from global;
}

.cta {
  composes: ts-cta from global;
}
